html {
    overflow: hidden;
}

body {
    height: 100%;
}

.navbar {
    z-index: 2;
}

#loginContainer,
#waitingMessages,
#windowSizeAlert {
    margin-top: 10rem;
    background: rgba(18, 16, 11, .69);
    padding: 1rem;
    border-radius: 25px;
}
#waitingMessages{
    margin-top: 20rem;
}

/* table */
.table-container {
    position: relative;
    width: 50%;
}

.table-image {
    width: 100%;
    display: block;
}

.displayedUName {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6ch;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 25px;
    font-weight: bold;
}

.profile {
    position: absolute;
    height: 30%;
}

.playerPicture {
    border-radius: 50%;
    height: 100%;
    filter: brightness(0.45);
}

#p0 {
    top: -11%;
    left: 0%;
}

#p1 {
    top: -22%;
    left: 28.3%;
}

#p2 {
    top: -22%;
    left: 56.6%;
}

#p3 {
    top: -11%;
    right: 0%;
}

#p4 {
    top: 35%;
    right: -12%;
}

#p5 {
    bottom: -10%;
    right: 0%;
}

#p6 {
    bottom: -20%;
    left: 56.6%;
}

#p7 {
    bottom: -20%;
    left: 28.3%;
}

#p8 {
    bottom: -10%;
    left: 0%;
}

#p9 {
    top: 35%;
    left: -12%;
}


.button {
    color: white;
    padding: 0.25rem 0.5rem !important;
    position: relative;
    z-index: 0;
}

.button:before,
.button:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: white;
    transition: all 0.2s;
}

.button:before {
    left: 0px;
    top: 0px;
}

.button:after {
    right: 0px;
    bottom: 0px;
}

.button:hover {
    color: white !important;
}

.button:hover:before,
.button:hover:after {
    opacity: 1;
    height: 0.2rem;
    width: 100%;
}

/* disable selection */
p,
label,
a,
span {
    user-select: none;
    -webkit-user-drag: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

#readyUp,
#call-btn,
#raise-btn,
#fold-btn,
#allin-btn,
#bet-btn,
#check-btn,
#bet-amount {
    background-color: rgb(250, 220, 40);
    transition: .3s;
    border-radius: 2em 1em 4em / 0.5em 3em;
}

#readyUp:hover,
#call-btn:hover,
#raise-btn:hover,
#fold-btn:hover,
#allin-btn:hover,
#bet-btn:hover,
#check-btn:hover {
    color: black;
    transition: .3s;
    letter-spacing: .5rem;
    background-color: rgb(250, 220, 100);
}

#bet-amount,
#bet-amount:hover,
#bet-amount:target,
#bet-amount:focus {
    border: none;
    box-shadow: none;
}

#communityCards {
    position: absolute;
    display: flex;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}