body {

    /* background: rgb(100, 0, 0) !important; */
    /* background: rgb(0, 100, 0) !important; */
    /* background-repeat: no-repeat; */

    /* test */
    background: url(images/bg2.png);
    background-size: auto;

    background-attachment: fixed;
    height: 100%;
}

#loginContainer {
    margin-top: 10rem;
    background: rgba(0, 30, 0, 0.4);
    padding: 1rem;
    border-radius: 25px;
    width: 30%;
}

@media only screen and (max-width: 450px) {
    #loginContainer {
        width: auto;
        margin-top: 5rem;
        /* background: none; */
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

#stream {
    height: 65vh;
    overflow-y: scroll;
}

/* WebKit scrollbar testreszabása */
#stream::-webkit-scrollbar {
    width: 12px;
}

#stream::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

#stream::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    border-radius: 6px;
}

#stream::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* table */
.table-container {
    position: relative;
    width: 60%;
}

.table-image {
    width: 100%;
    display: block;
}

#displayedUName {
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    width: 8ch;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background: rgba(150, 90, 90, 0.8);
    border-radius: 25px;
}

.player {
    border-radius: 50%;
    height: 100%;
}

.p0 {
    top: -10%;
    left: 0%;
}

.p1 {
    top: -20%;
    left: 28.3%;
}

.p2 {
    top: -20%;
    left: 56.6%;
}

.p3 {
    top: -10%;
    right: 0%;
}

.p4 {
    top: 35%;
    right: -10%;
}

.p5 {
    bottom: -10%;
    right: 0%;
}

.p6 {
    bottom: -20%;
    left: 56.6%;
}

.p7 {
    bottom: -20%;
    left: 28.3%;
}

.p8 {
    bottom: -10%;
    left: 0%;
}

.p9 {
    top: 35%;
    left: -10%;
}


.button {
    color: white;
    padding: 0.25rem 0.5rem !important;
    position: relative;
    z-index: 0;
}

.button:before,
.button:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: white;
    transition: all 0.2s;
}

.button:before {
    left: 0px;
    top: 0px;
}

.button:after {
    right: 0px;
    bottom: 0px;
}

.button:hover {
    color: white !important;
}

.button:hover:before,
.button:hover:after {
    opacity: 1;
    height: 0.2rem;
    width: 100%;
}